[fragmentation]
maxfragsize = {{ maxfragsize }}
writer = GAMESS-FMO
groupcount = 1
chargemodel = {{ charge_model }}
combinefragments =

[output]
verbose = True
boundaries = {{ boundaries }}
buffer = 0
active = 0
freezebackbone = False
writepymol = True
writejmol = False
centralfragment = {{ central_fragment_id }}
useatomnames = {{ 'True' if use_atom_names else 'False' }}

[fragmentpatterns]
peptide_standard = [$(CN)][$(C(=O)NCC(=O))]
{% if system_type == "protein_peptide" %}
peptide_methylated = [$(CN)][$(C(=O)N(C)CC(=O))]
{% endif %}
a-d-pyranose = [$(C1C(CO)OC(O)C(O)C1(O))][$(OC1C(O)C(O)CC(CO)O1)]
dnabackbone = [$(CCOP)][$(CC1OCCC1)]

[protectpatterns]
{% if system_type != "protein_peptide" %}
nterminal = [$([NH2]),$([NH3])]CC(=O)[$(NCC=O)]
{% endif %}

[mergepatterns]
glycine =

[explicitfragmentpairs]
pairs =

[explicitprotectatoms]
atomids =

[mfcc]
order = 0

[qmmm]
includehbonddonors = False
includehbondacceptors = False
hbondangle = 110.0
hbonddistancemin = 2.5
hbonddistancemax = 3.9
includecovalent = False
includeallwithin = 0.0

[qm]
basis = {{ basis }}

[fmo]
dohop = True
efpwaters = 0
fmolevel = {{ fmo_level }}
